<div class="container">
    <div class="row">
            <div class="card">
                <div class="content w-50 mx-auto">
                    <h2 class="card-title">{{finance.name}}</h2>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/{{finance.videoID}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    <br>
                    <p class="card-text">{{finance.description}}
                        <h5>{{finance.level}}</h5>
                        <h5>{{finance.release}}</h5>
                        <h5>{{finance.author}}</h5>
                    </p>
                    <textarea name="comments" cols="30" rows="2"></textarea>
                </div>
            </div>
    </div>
</div>